@charset "UTF-8";

#mainCover{
	padding: 48px 0 48px;
	font-size: 200%;
}

#contentArea .texts{
	padding-bottom: 38px;
}

#contentArea .lead{
	padding-bottom: 10px;
}

#contentArea .entry li{
	margin-bottom: 20px;
}

#contentArea .contact{
	padding-top: 18px;
}

#contentArea .indispensability{
	color: #CFBD3D;
	vertical-align: -3px;
}

#contentArea .dfTbl ul {
	margin-right:-25px;
}

#contentArea .dfTbl li {
	float: left;
	padding-right: 25px;
}

#contentArea .dfTbl li img {
	padding-left: 25px;
}

#contentArea .complete{
	padding-bottom: 50px;
}