@charset "shift_jis";

body {
	background-image:url(../../../../image/popup_common/bg.jpg);
	background-position:left top;
	background-repeat:repeat;
	line-height:1.5;
	letter-spacing:normal;
	font-size:75%;
	color:#FFF;
}
a {
	text-decoration:underline;
	color:#FFCC00;
}
a:hover {
	text-decoration:none;
}
#page {
	padding-bottom:10px;
}
#container {
	width:550px;
	margin:0 auto;
}

/* header start */
#header {
	width:550px;
	padding:10px 0;
	padding-bottom:30px;
	font-size:200%;
	font-weight:bold;
	color:#FFA020;
	text-align:center;
}
#header.present {
	padding-bottom:0;
}
#header p.small {
	font-size:80%;
}

/* header end */

/* contents start */
#contents {
	width:520px;
	margin:0 auto;
	padding-bottom:20px;
	line-height:1.8;
}
#contents .small {
	color:#FFCC00;
	font-size:120%;
	font-weight:bold;
}
#contents ul {
	width:255px;
	margin:0 auto;
}
#contents ul li {
	float:left;
	border-right:1px solid #FFF;
	padding-right:20px;
	margin-right:20px;
}
#contents li.last {
	border:none;
	padding-right:0;
	margin-right:0;
}
#contents ul li a {
	color:#FFCC00;
}
#contents .entryWrapper {
	background-color:#333333;
	background-image:url(../../../../image/popup_common/bg_grid.gif);
	background-position:left top;
	background-repeat:repeat;
	padding:10px 20px 0;
	margin-bottom:20px;
}
#contents .entry {
	padding-bottom:5px;
}
#contents .title {
	width:458px;
	background-color:#C23102;
	background-image:url(../image/common/news/tit_bg.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	padding:9px 11px;
	margin-bottom:20px;
	color:#FFF;
	font-weight:bold;
}
#contents .title .type {
	text-align:center;
	font-size:120%;
	color:#FFCC00;
}
#contents dt {
	color:#FF6600;
	font-weight:bold;
}
#contents dd {
	padding-bottom:15px;
}
#contents .area {
	font-size:110%;
	font-weight:bold;
}
.pagetop {
	text-align:right;
}
.pagetop a {
	padding-left:13px;
	background-image:url(../../../../image/common/icon_arrow_02.gif);
	background-position:0 2px;
	background-repeat:no-repeat;
	color:#FFCC00;
}
#contents #btnClose {
	width:84px;
	margin:0 auto;
}
#contents #btnClose a {
	display:block;
	width:84px;
	height:27px;
	margin:20px 6px 0 auto;
	background-image:url(../../../../image/popup_common/btn_close.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	font-size:1px;
	line-height:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;
	text-indent:-9999px;
}
/* contents end */

/* footer start */
#footer {
	width:515px;
	padding:13px 20px 24px 15px;
	background-color:#000;
}
#footer #copyright {
	float:right;
	width:74px;
	height:7px;
	margin-top:3px;
	background-image:url(../../../../image/common/copyright.gif);
	background-position:left top;
	background-repeat:no-repeat;
	font-size:1px;
	line-height:0;
	outline:none;
	text-decoration:none;
	text-indent:-9999px;
}

/* contents end */
