@charset "shift_jis";
body {
	line-height:1;
}

#page {
	width:871px;
}

#container {
	width:809px;
	margin:0 auto;
	padding:23px 30px 10px 30px;
	border:1px solid #000;
}

/* header start */
#header {
	width:808px;
	padding:0;
}
#header #logo {
	width:808px;
}

/* header end */

/* contents start */
#contents .link {
	width:185px;
	margin-top:10px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:0;
	padding-left:11px;
	padding-bottom:2px;
	text-align:right;
	background-image:url(../image/icon_arrow_pink.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#contents .link a {
	color:#000;
	text-decoration:none;
	font-weight:bold;
}
#contents .link a:hover {
	color:#3E5AA6;
}
#contents .entryWrapper {
	width:809px;
}
#contents .entryWrapper#top p.egg,
#contents .entryWrapper#middle p.egg {
	float:left;
}
#contents .entryWrapper#top {
}
#contents .entryWrapper#middle {
	padding-bottom:20px;
}
#contents .entryWrapper#bottom {
	display:table;
	/*width:auto;*/
	padding-bottom:31px;
}
#contents .entryWrapper#bottom .fLeft {
	display:table-cell;
	float:left;
	width:296px;
}
#contents .entryWrapper#bottom .fRightL {
	display:table-cell;
	float:left;
	width:488px;
}
#contents .entryWrapper#bottom .fRightS {
	float:left;
	width:488px;
}

#contents .pageBreak {
	page-break-after:always;
}
/* contents end */

/* easter egg start */
#contents .egg {
	background-repeat:no-repeat;
	background-position:left top;
}
#contents .egg img {
	visibility:hidden;
}
#contents .egg.img01 {
	width:808px;
	height:538px;
	background-image:url(../image/1102/image_01.jpg);
}
#contents .entryWrapper#left {
	float:left;
	width:335px;
}
#contents .entryWrapper#right {
	float:left;
	width:473px;
}
#contents .egg.img02 {
	width:335px;
	height:698px;
	background-image:url(../image/1102/image_02.jpg);
}
#contents .egg.img03 {
	width:473px;
	height:241px;
	background-image:url(../image/1102/image_03.jpg);
}
#contents .egg.img04 {
	width:473px;
	height:191px;
	background-image:url(../image/1102/image_04.jpg);
}
#contents .egg.img05 {
	width:473px;
	height:266px;
	background-image:url(../image/1102/image_05.jpg);
}
/* easter egg end */

/* copyright start */

#copyright .copy {
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	font-size:1px;
	line-height:0;
	text-align:left;
	text-decoration:none;
	text-indent:-9999px;
}

#copyright {
	width:630px;
	margin-left:auto;
	margin-right:0;
	padding-top:15px;
}
#copyright .copy {
	width:630px;
	height:20px;
	padding:0;
	background-image:url(../image/1102/copy_2011.gif);
}
/* copyright end */

/* backNumber start */
/* backNumber end */
