DirectoryIndex index.html index.php

# Auto Update
RewriteEngine On
RewriteBase /

# goto top if not exists
# if(リクエストに対応するディレクトリがない &&
RewriteCond %{REQUEST_FILENAME} !-d
# リクエストに対応するファイルがない) {
RewriteCond %{REQUEST_FILENAME} !-f
# 301で/にリダイレクト
RewriteRule ^ / [R=301,L]
# ここで終了}

#RewriteCond %{REMOTE_ADDR} ^59\.146\.75\.44$ [OR]

# /
#RewriteCond %{REMOTE_ADDR} ^59\.146\.75\.44$ [OR]
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20130225
RewriteCond %{DOCUMENT_ROOT}/index_20130225.html -f
RewriteRule ^(index\.php)?$ index.php?action=index_20130225 [L,QSA]

RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20120825
RewriteCond %{DOCUMENT_ROOT}/news_20120825.html -f
RewriteRule ^news\.html$ news_20120825.html [L]

# /artist/kubota/
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20110803
RewriteCond %{DOCUMENT_ROOT}/artist/kubota/index_20110803.html -f
RewriteRule ^artist/kubota/(index\.html)?$ artist/kubota/index_20110803.html [L]

# /artist/kubota/news/
#RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20110803
#RewriteCond %{DOCUMENT_ROOT}/artist/kubota/news/index_20110803.html -f
#RewriteRule ^artist/kubota/news/(index\.html)?$ artist/kubota/news/index_20110803.html [L]

# /artist/kubota/performance/
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20110803
RewriteCond %{DOCUMENT_ROOT}/artist/kubota/performance/index_20110803.html -f
RewriteRule ^artist/kubota/performance/(index\.html)?$ artist/kubota/performance/index_20110803.html [L]

# /artist/urashima/
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20100501
RewriteCond %{DOCUMENT_ROOT}/artist/urashima/index_20100501.html -f
RewriteRule ^artist/urashima/(index\.html)?$ artist/urashima/index_20100501.html [L]

# /artist/urashima/performance/
#RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20100111
#RewriteCond %{DOCUMENT_ROOT}/artist/urashima/performance/index_20100112.html -f
#RewriteRule ^artist/urashima/performance/(index\.html)?$ artist/urashima/performance/index_20100112.html [L]

# /artist/mori/
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20110209
RewriteCond %{DOCUMENT_ROOT}/artist/mori/index_20110209.html -f
RewriteRule ^artist/mori/(index\.html)?$ artist/mori/index_20110209.html [L]

# /artist/mori/news/
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20110209
RewriteCond %{DOCUMENT_ROOT}/artist/mori/news/index_20110209.html -f
RewriteRule ^artist/mori/news/(index\.html)?$ artist/mori/news/index_20110209.html [L]

# /artist/mori/performance/
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20110209
RewriteCond %{DOCUMENT_ROOT}/artist/mori/performance/index_20110209.html -f
RewriteRule ^artist/mori/performance/(index\.html)?$ artist/mori/performance/index_20110209.html [L]


# /premium/artist/blog/wataru/
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20140103
RewriteCond %{DOCUMENT_ROOT}/premium/artist/blog/wataru/index_20140103.html -f
RewriteRule ^premium/artist/blog/wataru/(index\.html)?$ premium/artist/blog/wataru/index_20140103.html [L]

# kubota album 2011 page
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} <20110803 [OR]
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} >20110831
RewriteRule ^k-tour1112/ http://m.funkyjam.com/ [R,L]

# kubota single 2011 page
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} <20110928 [OR]
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} >20111020
RewriteRule ^pap-cd/ http://m.funkyjam.com/ [R,L]


RewriteEngine On

# not mobile
RewriteCond %{REQUEST_URI} !premium/docomo/
RewriteCond %{HTTP_USER_AGENT} !^DoCoMo
RewriteCond %{HTTP_USER_AGENT} !^J-PHONE
RewriteCond %{HTTP_USER_AGENT} !^Vodafone
RewriteCond %{HTTP_USER_AGENT} !^SoftBank
RewriteCond %{HTTP_USER_AGENT} !^KDDI
RewriteCond %{HTTP_USER_AGENT} !^UP.Browser
RewriteCond %{HTTP_USER_AGENT} !^DDIPOCKET
RewriteCond %{HTTP_USER_AGENT} !^WILLCOM
RewriteCond %{HTTP_USER_AGENT} !^PDA
RewriteRule .* http://www.funkyjam.com/ [R=301,L]


# exclude
RewriteCond %{REQUEST_URI} contact [OR]
RewriteCond %{REQUEST_URI} fanletter [OR]
RewriteCond %{REQUEST_URI} shop
RewriteRule .* - [L]

# docomo
RewriteCond %{HTTP_USER_AGENT} DoCoMo
RewriteRule .* - [E=HTTP_UA:docomo]

# softbank
RewriteCond %{HTTP_USER_AGENT} J-PHONE [OR]
RewriteCond %{HTTP_USER_AGENT} Vodafone [OR]
RewriteCond %{HTTP_USER_AGENT} SoftBank
RewriteRule .* - [E=HTTP_UA:softbank]

# au
RewriteCond %{HTTP_USER_AGENT} KDDI
RewriteCond %{HTTP_USER_AGENT} UP.Browser
RewriteRule .* - [E=HTTP_UA:au]

# other
RewriteCond %{ENV:HTTP_UA} ^$
RewriteRule .* - [E=HTTP_UA:other]

# premium
# staff blog
RewriteRule ^premium/artist/blog/(.*)/$ premium/artist/blog/$1/index.html [QSA,L]
RewriteRule ^premium/artist/blog/(.*)\.html$ premium/artist/blog/index.php?path=$1 [R,QSA,L]
# essay blog
RewriteRule ^premium/artist/essay/(.*)/$ premium/artist/essay/$1/index.html [QSA,L]
RewriteRule ^premium/artist/essay/(.*)\.html$ premium/artist/essay/index.php?path=$1 [QSA,L]
# docomo
RewriteRule ^premium/docomo/touroku.php premium/docomo/index.php?action=touroku [QSA,L]
RewriteRule ^premium/docomo/kaiyaku.php premium/docomo/index.php?action=kaiyaku [QSA,L]

RewriteCond %{HTTP_USER_AGENT} DoCoMo
RewriteRule ^premium/index\.html$ premium/index.php?action=top [QSA,L]
RewriteRule ^premium/(.*)/index\.html$ premium/$1/index.php?action=top [QSA,L]

# contents top
RewriteRule ^premium/$ premium/index.html [QSA]
RewriteRule ^premium/index\.html$ premium/index.php?action=top [QSA,L]
RewriteRule ^premium/(.*)/$ premium/$1/index.html [QSA]
RewriteRule ^premium/(.*)/index\.html$ premium/$1/index.php?action=top [QSA,L]

RewriteCond %{REQUEST_URI} !/contact/ [OR]
RewriteCond %{REQUEST_URI} !/fanletter/ [OR]
RewriteCond %{REQUEST_URI} !/shop/ [OR]
RewriteCond %{REQUEST_URI} !/artist/kubota/login/ [OR]
RewriteCond %{REQUEST_URI} !/artist/kubota/ticket/
RewriteCond %{REQUEST_URI} !/beatconnection/entry/ [OR]
RewriteRule ^$ /index.html [R,L]
RewriteRule ^(.*)/$ $1/index.html [R,L]

#check
#RewriteCond %{REMOTE_ADDR} ^182\.171\.234\.187$
#RewriteRule . - [L]

RewriteRule ^(.*)\.html$ /index.php?action=$1&ua=%{ENV:HTTP_UA} [QSA,L]

RewriteRule ^ga.php$ - [L]

