/* 
    Document   : top
    Created on : 2012/05/23, 13:10:15
    Author     : staff
    Description:
        Purpose of the stylesheet follows.
*/
.buyBtn {
text-align: center;
padding: 15px 0;
}

#discography.detail {
	padding:18px 17px 0; 
}

#discography .link {
	width:100%;
	display:table;
	margin-bottom: 10px;
	overflow-x:hidden;
	text-align:center;
	border-bottom:2px solid #303030;
}
#discography .link ul {
	display:table-row;
}
#discography .link li {
	display:table-cell;
	width: 25%;
	border-top:2px solid #303030;
	border-right:2px solid #303030;
}
#discography .link li:last-child {
	border-right:none;
}
#discography .link li.current {
	font-weight: bold;
}
#discography .link li a {
	display:block;
	width: 80%;
	text-align:center;
	padding:8px 0;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

#discography .albumLink {
	width:100%;
	display:table;
	margin: -10px 0 10px;
	overflow-x:hidden;
	text-align:center;
	background-color: #303030;
}
#discography .albumLink ul {
	display:table-row;
}
#discography .albumLink li {
	display:table-cell;
	width: 35%;
}
#discography .albumLink li:first-child {
	width: 30%;
}
#discography .albumLink li a {
	display:inline-block;
	text-align:center;
	padding:8px 0;
	text-decoration: none;
	color: #9A9A9A;
	font-weight: bold;
	font-size: 1.2rem;
}
#discography .albumLink li a span{
	display:inline-block;
	width: 0px;
	height: 0px;
	margin-right: 3px;
	border-style: solid;
	border-width: 4px 0 4px 8px;
	border-color: transparent transparent transparent #9A9A9A;
}
#discography .albumLink li.cuurent a {
	color: #D9BF10;
}
#discography .albumLink li.cuurent a span{
	border-color: transparent transparent transparent #D9BF10;
}

#discography {
	padding-top: 18px;
	background-color: #fff;

}
#discography h2 {
	display:none;
}
#discography .title {
	background-image:url(../images/common/bg.png);
	padding:10px 0 10px 9px;
	line-height:0;
}

#discography .section .entry {
	display:table;
	width:100%;
    background-color: #F8F8F8;
	background-image:url(../images/common/arrow.png);
	background-size:33px auto;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:13px;
}
#discography .section .entry:nth-child(2n) {
	background-color:#FFF;
}
#discography .section .entry a {
	text-decoration:none;
}
#discography .section .entry .inner {
	padding:10px 33px 10px 0;
}
#discography .section .entry .textWrapper {
	display: table-cell; 
    color: #010101;
    float: right;
	width:60%; 
    margin: 0;
    padding-top: 20px;
}
#discography .section .entry h3 {
    clear: left;
    color: #737373;
    font-size: 2.0rem;
}
#discography .section .entry .release {
    font-size: 1.2rem;
    color: #D9BF10;
}
#discography .section .entry ol li {
    line-height: 1.2;
    padding-bottom: 7px;
    padding-left: 0.8em;
    text-indent: -0.8em;
}
#discography .section .entry .imageWrapper {
    float: left;
    text-align: center;
    width:40%;
	display: table-cell;  
    vertical-align: middle;  
    margin: 0;  
}
.pages {
	padding-bottom:10px;
}
.pages p {
	padding:10px 20px;
	text-align:center;
	border-right:1px solid #000;
    -webkit-border-radius:5px;  
    -moz-border-radius:5px; 
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	opacity:0.90;
	overflow-x:hidden;
    background:-moz-linear-gradient(top, #3C3C3C, #191919);
    background:-webkit-gradient(linear, left top, left bottom, from(#3C3C3C), to(#191919));
}
.pages p.prev {
	float:left;
}
.pages p.next {
	float:right;
}
.pages p a {
	color:#CCC;
	text-decoration:none;
}
.pages p.current {
    background:-moz-linear-gradient(top, #5E5E5E, #484848);
    background:-webkit-gradient(linear, left top, left bottom, from(#5E5E5E), to(#484848));
	color:#FFCC00;
}
/*for IE6 */
* html #discography .section .entry .imageWrapper,
* html #discography .section .entry .textWrapper {
	display: inline;
	zoom: 1;
}

/*for IE7 */
*:first-child+html #discography .section .entry .imageWrapper,
*:first-child+html #discography .section .entry .textWrapper {
	display: inline;
	zoom: 1;
}

#discography #btnBack {
padding-bottom:38px;
height: 35px;
}

#discography .images {
	padding-bottom: 13px;
	margin-bottom: 22px;
	border-bottom: 1px solid #535353;
	text-align: center;
}

#discography .images h3{
	font-size: 2.0rem;
	text-align: left;
	color: #010101;
}

#discography .images .day{
	color: #D9BF10;
	text-align: left;
	font-size: 1.2rem;
}