/* 
    Document   : top
    Created on : 2012/05/23, 13:10:15
    Author     : staff
    Description:
        Purpose of the stylesheet follows.
*/
html {
	background-image:url(/sp/images/artist/kubota/bg_kubota.gif);
}
#page #logo {
	background-image:url(/sp/images/common/bg_page.gif);
}
#headline {
	width:100%;
}
#headline .images {
	text-align:center;
	width:320px;
	height:165px;
	margin:0 auto;
}
#headline #navi {
	width:100%;
	display:table;
	overflow-x:hidden;
    background:-moz-linear-gradient(top, #2D2D2D, #010101);
    background:-webkit-gradient(linear, left top, left bottom, from(#2D2D2D), to(#010101));
	text-align:center;
	border-bottom:2px solid #303030;
}
#headline #navi ul {
	display:table-row;
}
#headline #navi li {
	display:table-cell;
	border-top:2px solid #303030;
	border-right:2px solid #303030;
	width:50%;
}
#headline #navi li:nth-child(2n) {
	border-right:none;
}
#headline #navi li.current {
    background:url(/sp/images/common/bg_icon.png), -moz-linear-gradient(top, #E4CB22, #A08E18);
    background:url(/sp/images/common/bg_icon.png), -webkit-gradient(linear, left top, left bottom, from(#E4CB22), to(#A08E18));
	font-weight: bold;
}
#headline #navi li a {
	display:block;
	text-align:center;
	padding:8px 0;
	text-decoration: none;
	color:#5E5E5E;

}
#headline #navi li.current a {
	color:#fff;
}
#newsBlock .day {
	color: #D9BF10;
	font-size: 1.2rem;
}
#newsBlock .day strong {
	padding:3px 5px;
	margin-right: 5px;
	background-color: #D9BF10;
	color: #fff;
	font-size: 1.0rem;
}
#newsUnder a{
	color: #D9BF10;
	text-decoration: none;
}

#discography .link {
    background:-moz-linear-gradient(top, #2D2D2D, #010101);
    background:-webkit-gradient(linear, left top, left bottom, from(#2D2D2D), to(#010101));
}

#discography .link li.current {
    background:url(/sp/images/common/bg_icon.png), -moz-linear-gradient(top, #E4CB22, #A08E18);
    background:url(/sp/images/common/bg_icon.png), -webkit-gradient(linear, left top, left bottom, from(#E4CB22), to(#A08E18));
}
#discography .link li a {
	color:#5E5E5E !important;
}
#discography .link li.current a {
	color:#5E5E5E;
}