/* 
    Document   : top
    Created on : 2012/05/23, 13:10:15
    Author     : staff
    Description:
        Purpose of the stylesheet follows.
*/

#newsUnder {
	background-color: #fff;
	color:#444444;
}