@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000;
  font-size: 62.5%;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

a {
  color: #087841;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ro img {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.ro a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

#page {
  width: 892px;
  min-width: 892px;
  margin: 0 auto;
  padding-top: 152px;
  border-right: 4px solid #3A2E2C;
  border-left: 4px solid #3A2E2C;
}

header {
  position: fixed;
  top: 0;
  width: 892px;
  height: 152px;
  background-color: #3A2E2C;
  z-index: 50;
}
header .new {
  display: table;
  width: 100%;
  background-color: #000;
  color: #CCC;
  font-size: 2.6rem;
}
header .new .wrap {
  display: table-cell;
  width: 100%;
  height: 60px;
  padding: 0 25px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .new a {
  color: #CCC;
}
header .navi {
  display: table;
  width: 100%;
  background-color: #3A2E2C;
}
header .navi li {
  display: table-cell;
  border-left: 2px solid #898280;
}
header .navi li .wrap {
  display: table;
  width: 100%;
}
header .navi li a {
  display: table-cell;
  width: 100%;
  height: 92px;
  color: #fff;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
header .navi li a:hover {
  text-decoration: none;
  background-color: #574542;
}
header .navi li span {
  display: inline-block;
  background-position: 0 center;
  background-repeat: no-repeat;
}
header .navi li img {
  vertical-align: middle;
}
header .navi li:nth-child(1) {
  border-left: none;
}
header .navi li:nth-child(1) span {
  padding-left: 60px;
  background-image: url(/mori/images/common/icon1.png);
}
header .navi li:nth-child(1) span.login {
  background-image: url(/mori/images/common/icon3.png);
}
header .navi li:nth-child(2) span {
  padding-left: 50px;
  background-image: url(/mori/images/common/icon2.png);
}
header .navi li:nth-child(3) {
  width: 98px;
}

#menu {
  display: none;
  width: 900px;
  margin: 0 auto;
  background-color: #3A2E2C;
}
#menu > .inner {
  padding: 60px 0;
}
#menu .btn {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 40px;
}
#menu .btn .wrap {
  float: right;
}
#menu .btn a {
  display: table-cell;
  width: 100px;
  height: 92px;
  text-align: center;
  vertical-align: middle;
}
#menu .menu1 {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 40px;
}
#menu .menu1 li {
  float: left;
  width: 50%;
}
#menu .menu1 li a {
  display: block;
  padding: 40px 20px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
#menu .menu1 li a:hover {
  text-decoration: none;
}
#menu .menu1 li p {
  margin-bottom: 10px;
}
#menu .menu2 {
  overflow: hidden;
  *zoom: 1;
}
#menu .menu2 li {
  float: left;
  width: 33.33%;
}
#menu .menu2 li a {
  display: block;
  font-size: 2.2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#contents {
  padding: 0 0 120px;
}
#contents h1.logo {
  padding: 50px 0;
  text-align: center;
}

.titleType1 {
  padding: 10px 0;
  background-color: #491F19;
  color: #fff;
  font-size: 4.2rem;
  font-weight: bold;
  text-align: center;
}

.btnType1, .btnType2, .btnType4 {
  width: 476px;
  margin: 0 auto;
}
.btnType1 a, .btnType2 a, .btnType4 a {
  display: block;
  padding: 8px;
  background-position: 0 0;
  background-repeat: repeat;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.btnType1 a:hover, .btnType2 a:hover, .btnType4 a:hover {
  text-decoration: none;
}
.btnType1 a span, .btnType2 a span, .btnType4 a span {
  display: block;
  padding: 20px;
}

.btnType1 a {
  background-color: #491F19;
  color: #FFC;
}
.btnType1 a:hover {
  background-color: #361712;
}
.btnType1 a span {
  border: 4px solid #FFC;
}

.btnType2 a {
  background-color: #989898;
  color: #fff;
}
.btnType2 a:hover {
  background-color: #8b8b8b;
}
.btnType2 a span {
  border: 4px solid #fff;
}

.btnType4 a {
  background-color: #3A2E2C;
  color: #fff;
}
.btnType4 a:hover {
  background-color: #2b2321;
}
.btnType4 a span {
  border: 4px solid #fff;
}

.btnType3 {
  width: 320px;
  margin: 0 auto;
}
.btnType3 a {
  display: block;
  padding: 15px 0;
  border: 4px solid #333;
  color: #333;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}
.btnType3 a:hover {
  text-decoration: none;
}

.listType1 {
  position: relative;
  width: 840px;
  margin: 0 auto;
  z-index: 10;
}
.listType1 li {
  margin-top: 30px;
}
.listType1 li:first-child {
  margin-top: 0;
}
.listType1 li a {
  display: table;
  width: 100%;
  border: 4px solid #3A2E2C;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.listType1 li.tar a {
  padding:25px;
  border: 4px solid #FF0000;
  color : #FF0000;
}
.listType1 li.tar a p{
  font-size: 3rem;
}
.listType1 li.tar a div{
  font-size: 2rem;
}
.listType1 li a .image img {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.listType1 li a:hover .image img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.listType1 li .imageWrap, .listType1 li .detail {
  display: table-cell;
}
.listType1 li .imageWrap {
  position: relative;
  width: 335px;
  vertical-align: middle;
  overflow: hidden;
}
.listType1 li .imageWrap .date {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 150px;
  background-color: #077841;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 10;
}
.listType1 li .detail {
  position: relative;
  padding: 79px 25px 25px;
  border-left: 4px solid #3A2E2C;
  vertical-align: top;
}
.listType1 li .detail .category {
  position: absolute;
  top: 0;
  left: 0;
}
.listType1 li .detail .lead {
  margin-bottom: 10px;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}
.listType1 li .detail h2, .listType1 li .detail h3, .listType1 li .detail .title {
  color: #087841;
  font-size: 3.6rem;
}

.messageBlock {
  width: 840px;
  margin: 0 auto 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.messageBlock > .inner {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.messageBlock .error {
  margin-bottom: 10px;
  color: #F33;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
}
.messageBlock .price {
  margin-bottom: 75px;
  font-size: 2.4rem;
  text-align: center;
}
.messageBlock .btnWrap > div {
  margin-top: 120px;
}
.messageBlock .btnWrap > div:first-child {
  margin-top: 0;
}
.messageBlock .btnWrap > div p {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

footer {
  position: relative;
  z-index: 10;
  background-color: #fff;
}
footer .snsWrap {
  font-weight: bold;
  text-align: center;
}
footer .snsWrap h2 {
  padding: 10px 0;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  font-size: 2.4rem;
}
footer .snsWrap ul li {
  padding: 40px 0;
  border-bottom: 2px solid #999999;
  font-size: 2.8rem;
}
footer .snsWrap .facebook {
  background-image: url(/mori/images/common/icon_facebook.gif);
  background-position: 150px center;
  background-repeat: no-repeat;
}
footer .snsWrap .facebook a {
  color: #3A5998;
}
footer .snsWrap .twitter {
  background-image: url(/mori/images/common/icon_twitter.gif);
  background-position: 150px center;
  background-repeat: no-repeat;
}
footer .snsWrap .twitter a {
  color: #55ACEE;
}
footer .contact {
  padding: 70px 0 110px;
  font-weight: bold;
  text-align: center;
}
footer .contact h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
}
footer .contact .btn a {
  display: block;
  padding: 20px 0;
  background-color: #491F19;
  color: #FFC;
  font-size: 2.4rem;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
footer .contact .btn a:hover {
  text-decoration: none;
  background-color: #331612;
}
footer .btnPagetop a {
  display: block;
  padding: 30px 0;
  background-color: #999;
  color: #fff;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
footer .btnPagetop a img {
  margin-right: 15px;
  vertical-align: 8%;
}
footer .btnPagetop a:hover {
  text-decoration: none;
  background-color: #6B6B6B;
}
footer > .wrap {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 20px;
}
footer > .wrap .iconWrap {
  float: left;
  font-size: 0;
}
footer > .wrap .iconWrap > div {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
footer > .wrap .iconWrap > div:first-child {
  margin-left: 0;
}
footer > .wrap .copyWrap {
  float: right;
  font-size: 1.4rem;
  padding-top: 20px;
}
footer > .wrap .copyWrap ul {
  overflow: hidden;
  *zoom: 1;
  float: left;
  padding-right: 20px;
}
footer > .wrap .copyWrap ul li {
  float: right;
  padding-left: 10px;
}
footer > .wrap .copyWrap .copyright {
  float: right;
  color: #999;
}

@media screen and (max-width: 899px) {
  #page {
    width: auto;
    min-width: 0;
    padding-top: 76px;
    border-right: none;
    border-left: none;
  }

  header {
    width: 100%;
    height: 76px;
  }
  header .new {
    font-size: 1.2rem;
  }
  header .new .wrap {
    height: 30px;
    padding: 0 12.5px;
  }
  header .navi li a {
    height: 46px;
    font-size: 1.4rem;
  }
  header .navi li:nth-child(1) span {
    padding-left: 30.5px;
    background-size: 19.5px auto;
  }
  header .navi li:nth-child(1) span.login {
    padding-left: 28px;
    background-size: 17px auto;
  }
  header .navi li:nth-child(2) span {
    padding-left: 26px;
    background-size: 18.5px auto;
  }
  header .navi li:nth-child(3) {
    width: 48px;
  }
  header .navi li:nth-child(3) img {
    width: 25.5px;
  }

  #menu {
    width: 100%;
  }
  #menu > .inner {
    padding: 30px 0;
  }
  #menu .btn {
    margin-bottom: 20px;
  }
  #menu .btn a {
    width: 50px;
    height: 46px;
  }
  #menu .btn img {
    width: 23px;
  }
  #menu .menu1 {
    margin-bottom: 40px;
  }
  #menu .menu1 li {
    width: 50%;
  }
  #menu .menu1 li a {
    padding: 20px 10px;
    font-size: 1.2rem;
  }
  #menu .menu1 li p {
    margin-bottom: 5px;
  }
  #menu .menu1 li:nth-child(1) img {
    width: 102.5px;
  }
  #menu .menu1 li:nth-child(2) img {
    width: 73.5px;
  }
  #menu .menu1 li:nth-child(3) img {
    width: 74px;
  }
  #menu .menu1 li:nth-child(4) img {
    width: 123.5px;
  }
  #menu .menu1 li:nth-child(5) img {
    width: 134px;
  }
  #menu .menu1 li:nth-child(6) img {
    width: 72.5px;
  }
  #menu .menu1 li:nth-child(7) img {
    width: 53.5px;
  }
  #menu .menu1 li:nth-child(8) img {
    width: 100px;
  }
  #menu .menu2 li a {
    font-size: 1.4rem;
  }

  #contents {
    padding: 0 0 60px;
  }
  #contents h1.logo {
    padding: 25px;
  }

  .titleType1 {
    padding: 5px 0;
    font-size: 1.8rem;
  }

  .btnType1, .btnType2, .btnType4 {
    width: 238px;
  }
  .btnType1 a, .btnType2 a, .btnType4 a {
    padding: 4px;
    background-size: 25px 25px;
    font-size: 1.6rem;
  }
  .btnType1 a span, .btnType2 a span, .btnType4 a span {
    padding: 10px;
  }

  .btnType1 a span {
    border: 2px solid #FFC;
  }

  .btnType2 a span {
    border: 2px solid #fff;
  }

  .btnType4 a span {
    border: 2px solid #fff;
  }

  .btnType3 {
    width: 160px;
    margin: 0 auto;
  }
  .btnType3 a {
    padding: 7.5px 0;
    border: 2px solid #333;
    font-size: 1.4rem;
  }

  .listType1 {
    width: 93.33333%;
  }
  .listType1 li {
    margin-top: 3.57143%;
  }
  .listType1 li a {
    border: 2px solid #3A2E2C;
  }
  .listType1 li.tar a {
    border: 2px solid #FF0000;
  }
  .listType1 li.tar a p{
    font-size: 1.4rem;
  }
  .listType1 li.tar a div{
    font-size: 1rem;
  }
  .listType1 li .imageWrap {
    width: 39.88095%;
  }
  .listType1 li .imageWrap .date {
    top: 10px;
    left: -20px;
    width: 75px;
    font-size: 1rem;
  }
  .listType1 li .detail {
    position: relative;
    padding: 38.5px 12.5px 12.5px;
    border-left: 2px solid #3A2E2C;
    vertical-align: top;
  }
  .listType1 li .detail .category img {
    height: 26px;
  }
  .listType1 li .detail .lead {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  .listType1 li .detail h2, .listType1 li .detail h3, .listType1 li .detail .title {
    font-size: 1.4rem;
  }

  .messageBlock {
    width: 93.33333%;
    margin: 0 auto 30px;
  }
  .messageBlock .error {
    margin-bottom: 5px;
    font-size: 1.6rem;
  }
  .messageBlock .price {
    margin-bottom: 18px;
    font-size: 1.2rem;
  }
  .messageBlock .btnWrap > div {
    margin-top: 25px;
  }
  .messageBlock .btnWrap > div p {
    margin-bottom: 5px;
    font-size: 1.4rem;
  }

  footer .snsWrap h2 {
    padding: 5px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    font-size: 1.4rem;
  }
  footer .snsWrap ul li {
    padding: 20px 0;
    border-bottom: 1px solid #999999;
    font-size: 1.4rem;
  }
  footer .snsWrap .facebook {
    background-position: 12px center;
    background-size: 22.5px auto;
  }
  footer .snsWrap .twitter {
    background-position: 12px center;
    background-size: 23.5px auto;
  }
  footer .contact {
    padding: 35px 0 55px;
  }
  footer .contact h2 {
    margin-bottom: 15px;
    font-size: 1.4rem;
  }
  footer .contact .btn a {
    padding: 10px 0;
    font-size: 1.4rem;
  }
  footer .btnPagetop a {
    padding: 15px 0;
    font-size: 1.6rem;
  }
  footer .btnPagetop a img {
    width: 12.5px;
    max-width: 25px;
    margin-right: 7.5px;
  }
  footer > .wrap {
    padding: 5px 10px;
  }
  footer > .wrap .iconWrap > div {
    margin-left: 10px;
  }
  footer > .wrap .iconWrap > div:nth-child(1) {
    width: 31px;
  }
  footer > .wrap .iconWrap > div:nth-child(2) {
    width: 24px;
  }
  footer > .wrap .copyWrap {
    padding-top: 0;
    font-size: 1.2rem;
  }
  footer > .wrap .copyWrap ul {
    float: none;
    padding-right: 0;
  }
  footer > .wrap .copyWrap .copyright {
    float: none;
  }
}
