<div>
  <h3>ログ出力</h3>
  <label><input type="radio" name="outlog" value="true" <mt:if name="outlog" eq="true">checked="checked"</mt:if> />ログ出力あり</label>
  <label><input type="radio" name="outlog" value="false" <mt:if name="outlog" eq="false">checked="checked"</mt:if> />ログ出力なし</label>
</div>