@charset "utf-8";

/* eyecatch
------------------------------------------------------------------------------*/
#eyecatch {
	width:950px;
	margin:0 auto;
}
#eyecatch .login {
	float:left;
	width:253px;
	height:358px;
	padding:0 12px 12px;
	background-color:#222222;
	border:1px solid #3A3A3A;
	border-bottom:none;
}
#eyecatch .login .btn {
	padding-bottom:9px;
}
#eyecatch .looutBlock {
	padding-top:8px;
}
#eyecatch .loginBlock {
	background-image:url(/premium/images/top/bg_login.jpg);
	background-position:0 61px;
	background-repeat:no-repeat;
	background-color:#2D2C2C;
	border:1px solid #444443;
}
#eyecatch .loginBlock dt {
	clear:both;
	float:left;
}
#eyecatch .loginBlock dd input {
	width:185px;
	height:29px;
}
#eyecatch .loginBlock dt,
#eyecatch .loginBlock dd {
	padding-bottom:13px;
}
#eyecatch .loginBlock ul {
	padding-left:54px;
}
#eyecatch .loginBlock ul li {
	padding-bottom:7px;
}
#eyecatch .loginBlock ul li img {
	vertical-align:-1px;
}
#eyecatch .loginBlock a {
	color:#A5A5A5;
	text-decoration:none;
}
#eyecatch .loginBlock a:hover {
	text-decoration:underline;
}
#eyecatch .loginBlock .btn {
	padding-bottom:13px;
	text-align:center;
}
#eyecatch .loginBlock .errBlock {
	width:240px;
	height:51px;
	padding:5px;
	background-image:url(/premium/images/top/err_bg.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
}
#eyecatch .slide {
	position:relative;
	float:right;
	width:669px;
	height:369px;
	border:2px solid #262421;
	border-left:none;
	border-bottom:none;
	background-image:url(/premium/images/top/bg_block.jpg);
	background-repeat:repeat;
	background-position:0 0;
}
#eyecatch .slide .bar,
#eyecatch .slide .block {
	position:absolute;
	left:0;
	top:0;
}
#eyecatch .slide .bar {
	z-index:100;
	padding:1px 2px;
	border-left:2px solid #23221F;
}
#eyecatch .slide .bar.none {
	padding-left:none;
}
#eyecatch .slide .block {
	width:554px;
	height:368px;
}
#eyecatch .slide .block .inner {
	height:308px;
	padding:60px 0 0 34px;
	background-repeat:no-repeat;
	background-position:right bottom;
}
#eyecatch .slide .block .name {
	padding-bottom:33px;
}
#eyecatch .slide .block li {
	padding-bottom:9px;
}
#eyecatch .slide .bar#uraBar {
	left:589px;
}
#eyecatch .slide .bar#moriBar {
	left:629px;
}
#eyecatch .slide .block#kubotaBlock {
	left:35px;
}
#eyecatch .slide .block#uraBlock {
	display:none;
	left:75px;
}
#eyecatch .slide .block#moriBlock {
	display:none;
	left:115px;
}







#eyecatch .slide .block#kubotaBlock .inner {
	background-image:url(/premium/images/top/bg_kubota.jpg);
}
#eyecatch .slide .block#uraBlock .inner {
	background-image:url(/premium/images/top/bg_urashima.jpg);
}
#eyecatch .slide .block#moriBlock .inner {
	background-image:url(/premium/images/top/bg_mori.jpg);
}
/* contents
------------------------------------------------------------------------------*/
#contentWrap {
	width:100%;
	height:318px;
	padding-top:22px;
	background-image:url(/premium/images/top/bg_contents.jpg);
	background-repeat:repeat-x;
	background-position:0 0;
	border-top:1px solid #4A4A4A;
	border-bottom:1px solid #4A4A4A;
}
#contents {
	width:950px;
	margin:0 auto;
}
#contents #movieWrap {
	float:left;
	width:305px;
	height:264px;
	padding-bottom:13px;
	background-image:url(/premium/images/top/bg_movie.png);
	background-repeat:no-repeat;
	background-position:0 bottom;
}
#contents #movie {
	background-color:#000;
}
#contents #movie .txt {
	width:258px;
	height:54px;
	padding:6px 11px;
	margin:0 auto 2px;
	background-color:#212121;
	color:#969696;
}
#contents #movie #movieBlock {
	width:278px;
	margin:0 auto;
	border:1px solid #4F4F4F;
}
#contents #news {
	float:right;
	width:627px;
}
#contents #hotNews {
	width:625px;
	margin-bottom:14px;
	background-image:url(/premium/images/top/bg_hot_news.gif);
	background-repeat:repeat;
	background-position:0 0;
	border:1px solid #666666;
}
#contents #hotNews h2,
#contents #hotNews .txtBlock {
	float:left;
}
#contents #hotNews .txtBlock{
	height:24px;
	overflow:hidden;
}
#contents #hotNews li{
	padding:3px 11px 0 0;
	font-size:117%;
}
#contents #hotNews li a {
	color:#FFF;
}
#contents #topNews {
	padding:2px;
	height:226px;
	background-color:#000;
}
#contents #topNews h2 {
	padding:3px 6px 4px;
	margin-bottom:14px;
	border:1px solid #424242;
}
#contents #topNews ul {
	padding:0 6px 0 10px;
	background-image:url(/premium/images/top/bg_news.png);
	background-repeat:no-repeat;
	background-position:430px bottom;
}
#contents #topNews li {
	padding-bottom:4px;
	margin-bottom:7px;
	background-image:url(/premium/images/top/br_news.gif);
	background-repeat:repeat-x;
	background-position:0 bottom;
}
#contents #topNews li img {
	vertical-align:-1px;
}