DirectoryIndex index.html index.php

# Auto Update
RewriteEngine On
RewriteBase /sp/

#RewriteCond %{REMOTE_ADDR} ^59\.146\.75\.44$ [OR]

# /
#RewriteCond %{REMOTE_ADDR} ^59\.146\.75\.44$ [OR]
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY} !<20130225
RewriteCond %{DOCUMENT_ROOT}/sp/index_20130225.html -f
RewriteRule ^(index\.html)?$ index_20130225.html [L]

# forward to PC.
# if(スマホじゃなかったら) {
#RewriteCond %{HTTP_USER_AGENT} !(iPhone|iPod|(Android.+Mobile)|dream|CUPCAKE|blackberry9500|blackberry9530|blackberry9520|blackberry9550|blackberry9800|webOS|incognito|webmate) [NC]
# 301で/sp/foo/bar -> /foo/bar にリダイレクト
#RewriteRule ^(.*)$ /$1 [R=301,L]
# ここで終了}

# goto top if not exists
# if(リクエストに対応するディレクトリがない &&
#RewriteCond %{REQUEST_FILENAME} !-d
# リクエストに対応するファイルがない) {
#RewriteCond %{REQUEST_FILENAME} !-f
# 301で/sp/にリダイレクト
#RewriteRule ^ /sp/ [R=301,L]
# ここで終了}